/.vs
/Debug
/MakeStructShortHaracteristic/Debug
/MakeStructShortHaracteristic/Release
/MakeStructShortHaracteristic/MakeStructShortHaracteristic.vcxproj 
/MakeStructShortHaracteristic/MakeStructShortHaracteristic.vcxproj.filters
/MakeStructShortHaracteristic/MakeStructShortHaracteristic.vcxproj.user